<div class="about">
  <h1>About Me</h1>

  <div class="container">
    <p>
      I'm Sanket, a passionate Computer Engineering student at the University of
      Texas at Arlington. My academic journey has ignited my passion for both web
      development and embedded software engineering. Every day, I strive to
      evolve, not just as a professional but as a person, continuously seeking
      self-improvement.
    </p>
    <p>
      My dedication to software engineering extends beyond the classroom, as
      I've honed my skills through hands-on projects. With a keen eye for detail
      and an innovative mindset, I specialize in creating efficient,
      user-friendly web applications that bridge the gap between technology and
      user experience. My love for embedded software engineering has driven me
      to design and optimize software for hardware applications, making
      technology more accessible and practical.
    </p>
    <p>
      As a software engineer, my commitment to lifelong learning and
      problem-solving shines through my work. I am passionate about harnessing
      technology to create meaningful solutions and contributing to the
      ever-evolving world of software development. Explore my portfolio to
      witness my journey and the projects that demonstrate my dedication to
      pushing the boundaries of what is possible in the field of computer
      engineering.
    </p>
  </div>
</div>
