h1 {
    text-align: center;
    font-size: 5em;
}

.heading-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container p {
    font-family: monospace ;
    width: 30%;
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; 

    }

    .container p {
        width: 100%; 
    }
}