<div class="education"><div class="heading-container">
    <h1>Education</h1>
  </div>

  <div class="container">
    <div>
        <h3>The University of Texas at Arlington</h3><p>Aug 2022-May 2026</p>
        <h6>Bachelors of Science in Computer Engineering</h6><p>CGPA: 3.8 </p> 
        <h3>Kathmandu Model Secondary School</h3><p>CGPA: 3.7</p> <p>May 2019-Dec 2021</p> 
        <h3>LinkedIn Learning</h3>
        <h5>Web development with Angular</h5>

    </div>
    <div>
        <h3>Relevant Courses</h3>
        <ul>
            <li>Object Oriented Programming</li>
            <li>Data Structures and Algorithm</li>
            <li>Intermediate Programming</li>
        </ul>
    </div>
  </div>


</div>
