<div class="interest-hobbies">
  <div class="heading-container">
    <h1>Interest <span>/Hobies </span></h1>
  </div>
  <div class="container mt-4 mb-4">
    <div class="row">
      <!-- Image on the left -->
      <div class="col-md-4">
        <img [src]="images[0]" alt="Image Description" class="img-fluid" />
      </div>

      <!-- Text on the right -->
      <div class="col-md-8">
        <!-- Title -->
        <h2>Soccer</h2>

        <!-- Description -->
        <p>
          Soccer has been an integral part of my life since I was a child, and
          my love for the beautiful game has only grown stronger with time. I've
          been playing the sport for as long as I can remember, and it's on the
          field where I truly come alive, feeling the adrenaline rush with every
          pass and goal. My admiration for the legendary Lionel Messi and my
          unwavering support for FC Barcelona stem from a deep-seated passion
          for the sport. The way Messi effortlessly glides past defenders and
          orchestrates the game with his genius is awe-inspiring, and the
          history and spirit of FC Barcelona resonate with me on a profound
          level. Witnessing Messi play in person remains one of the most
          unforgettable and cherished moments of my life. As a devoted soccer
          fan, watching a match, I find sheer joy, and a sense of belonging.
          Soccer is not just a game; it's a lifelong love affair that fills my
          heart with excitement, purpose, and boundless happiness.
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <div class="row">
      <!-- Image on the left -->
      <div class="col-md-4">
        <img [src]="images[1]" alt="Image Description" class="img-fluid" />
      </div>

      <!-- Text on the right -->
      <div class="col-md-8">
        <!-- Title -->
        <h2>Photography</h2>

        <!-- Description -->
        <p>
          I love photography because it enables me to capture and preserve
          fleeting moments in time, turning them into enduring works of art.
          With each click of the shutter, I have the power to freeze a unique
          perspective, an emotion, or a breathtaking scene, allowing me to
          convey stories and emotions through images. Photography grants me the
          privilege of seeing the world through a different lens, quite
          literally, and it challenges me to seek beauty in the ordinary. It's a
          medium that constantly encourages me to explore my creativity,
          experiment with light, composition, and perspective, and find unique
          angles to convey the essence of the subjects I'm photographing.
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <div class="row">
      <!-- Image on the left -->
      <div class="col-md-4">
        <img [src]="images[2]" alt="Image Description" class="img-fluid" />
      </div>

      <!-- Text on the right -->
      <div class="col-md-8">
        <!-- Title -->
        <h2>Embedded Systems</h2>

        <!-- Description -->
        <p>
          Embedded systems and IoT have always intrigued me. I've been eager to
          explore the fundamental components of computer systems and turn my
          dream into reality one day. In the meantime, I enjoy working on
          exciting projects with my Raspberry Pi, taking small steps towards my
          passion. Each project brings me closer to achieving my dream, and I'm
          excited to see where this journey leads. The thrill of creating
          innovative gadgets and the promise of a future filled with
          cutting-edge technology inspire me to keep learning and growing in
          this exciting field.
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <div class="row">
      <!-- Image on the left -->
      <div class="col-md-4">
        <img [src]="images[3]" alt="Image Description" class="img-fluid" />
      </div>

      <!-- Text on the right -->
      <div class="col-md-8">
        <!-- Title -->
        <h2>Travelling</h2>

        <!-- Description -->
        <p>
          I love traveling because it is a transformative journey of
          self-discovery and an exploration of the world's diverse wonders. It's
          a captivating blend of adventure, learning, and experiencing different
          cultures, foods, and landscapes. Travel opens my eyes to new
          perspectives, challenges my comfort zone, and broadens my horizons,
          fostering a deep appreciation for the beauty and complexity of our
          planet. The thrill of discovering hidden gems, making unexpected
          connections with people, and immersing myself in unfamiliar
          environments is both exhilarating and educational.
        </p>
      </div>
    </div>
  </div>
</div>
