h1 {
    text-align: center;
    font-size: 5em;
}

.heading-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.interest-box {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.interest-box {
    display: flex;

}

.interest-hobbies {
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    span {
      display: none;
    }
  }






