<div class="heading-container">
  <h1>You ask, I deliver!</h1>
</div>
<div id="cnt" class="prj-container">
  <div id="web" class="prj-box">
      <div class="pr-img">
          <img src="../../assets/icons/development_4073056.png" alt="icon">
      </div>
      <div class="pr-text">
      <h4>Web Development</h4>
      <p>Need to make scalable web app.</p>
      <p>Here to help you.</p>
      </div>
  </div>
  <div id="app" class="prj-box">
      <div class="pr-img">
          <img src="../../assets/icons/coding_8751383.png" alt="icon">
      </div>
      <div class="pr-text">
      <h4>App Development</h4>
      <p>Wanna make world wide used ios or andorid app</p>
      <p>I got your back</p>
      </div>
  </div>
    <div id="sft" class="prj-box">
      <div class="pr-img">
          <img src="../../assets/icons/programmer_6864026.png" alt="icon">
      </div>
      <div class="pr-text">
      <h4>Software Development</h4>
      <p>Have an world changing idea</p>
      <p>I can help turn your dream into a reality.</p>
      </div>
  </div>
</div>

<div class="message">
    <h3>Send me a message with your email and job.</h3>  
    <form class="custom-form">
        <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" rows="4" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary custom-btn" (click)="showAlert()">Submit</button>
    </form>
</div>
